<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - ccnet</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="~/css/jumbotron.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="@Url.Action("Index","Home")">Confecciones Colombia</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="@Url.Action("Cotizaciones","Home")">Cotizaciones <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Inventario","Home")">Inventario <span class="sr-only">(current)</span></a>
          </li>          
        </ul>        
      </div>
    </nav>

    <main role="main">
        <div class="container">        
            @RenderBody()
            <hr>
        </div>
    </main>

    <footer class="container">
      <p>&copy; Confecciones Colombia 2017-2018</p>
    </footer>    

    <script src="~/lib/jquery/dist/jquery.js"></script>    
    <script src="~/lib/jquery/bootstrap/js/bootstrap.min.js"></script>    

    @RenderSection("Scripts", required: false)
</body>
</html>